<!DOCTYPE html>
<html>
<head>
  <title>Simpleblog</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="nav">
	<%= link_to 'Home',  :controller => 'page' %> |
	<%= link_to 'Posts', posts_path %> |
	<%= link_to 'Categories', categories_path %> |
	<%= link_to 'Users', users_path %> |
	<%= link_to 'Tags', tags_path %>
</div>

<%= yield %>

</body>
</html>
